<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4">
            <p class="lead">Un-Moderated Memes</p>
            <ul class="list-group">
                <li class="list-group-item active text-center">Go Wild!</li>
                <li class="list-group-item text-center">BUT don't go Too far!!!</li>
                <li class="list-group-item text-center"><a class="btn btn-dark" href="/memes" role="button">Go Back to Memes</a></li>
              </ul>
        </div>
        <div class="col mb-4">
            <div class="card mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="card-img-top embed-responsive-item" src="<%= meme.image%>" alt="No image found">
                 </div>
                <div class="card-body">
                  <h4 class="card-title"><a href=""><%= meme.name%></a></h5>
                  <h6 class="card-subtitle mb-2 text-muted">Level of offensiveness: <%= meme.low%></h6>
                  <p class="card-text"><%= meme.description%></p>
                </div>
                <div class="card-footer text-muted">
                    <div>Submitted By: "<%= meme.author.username%>", <%= moment(meme.createdAt).fromNow() %></div>
                    <%if(meme.edited===true) {   %>
                        <div class="font-italic">[Post Edited]</div>
                    <%} %>
                <%  if(currentUser && (currentUser.permissionLevel > 0 || meme.author.id.equals(currentUser._id))) {%>
                    <div class="btn-group">
                        <a href="/memes/<%= meme._id%>/edit" class="btn btn-warning my-2 mr-2">Edit</a>
                        <form action="/memes/<%= meme._id%>/?_method=DELETE" method="POST" class="form-inline ml-auto">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                <%  }   %>
                </div>
              </div>

            <div class="card bg-light">
                <div class="card-body">
                    <div class="text-right"><a href="/memes/<%= meme._id%>/comments/new" class="btn btn-success">Add New Comment</a></div>
                <%  for(const comment of meme.comments) { %>
                    <hr>
                    <strong><%= comment.author.username%></strong>

                    <%if(comment.edited===true) {   %>
                        <span class="font-italic">[Comment Edited]</span>
                    <%} %>

                    <span class="float-right font-weight-light">
                        <%= moment(comment.createdAt).fromNow() %>
                    </span>
                    
                    <p class="my-2 font-weight-light">Rating: <%= comment.rating%></p>
                    

                    <p><%= comment.text%></p>   %>

                <%  if(currentUser && (currentUser.permissionLevel >0 || comment.author.id.equals(currentUser._id))) {%>
                    <div class="btn-group">
                        <a href="/memes/<%= meme._id%>/comments/<%= comment._id%>/edit" class="btn mr-2 btn-warning btn-sm">
                            Edit
                        </a>
                        <form action="/memes/<%= meme._id%>/comments/<%= comment._id%>/?_method=DELETE" method="POST" class="form-inline ml-auto">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div> 
                    <br>
                <%  }   %>
                <%  }   %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>